.w-100 {
  width: 100%!important;
}

*, ::after, ::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
	color: $cl-main;
  }
}

%title {
  text-transform: uppercase;
  color: $cl-base;
  line-height: 1.0;
}

%title-lg {
  font-size: 48px;
  //@media all and (max-width: $screen-xs){
	//font-size: 42px;
  //}
}

.title-main {
  @extend %title;
  text-align: center;
  margin: 0;
  @extend %title-lg;
}

.btn {
  border: 1px solid $button-bd;
  height: $button-height;
  @extend %item-center;
  color: $cl-base;
  font-size: $fs-default;
  text-align: center;
  padding: 0 $button-padding-x;
  background-color: $button-bg;
  &:hover,
  &:focus,
  &.active {
    background-color: transparent;
    color: $button-bg;
  }
}

.btn-sm {
  height: $button-height-sm;
  font-size: $fs-default + 2px;
  text-transform: uppercase;
}

