.header {
  background-color: #1a1a1a;
  padding: 19px 0;
  position: relative;
  overflow-x: hidden;
  &.open {
	overflow-x: visible;
	.header-menu {
	  transform: translateX(0);
	}
  }
  &-main {
    @extend %item-middle;
    justify-content: space-between;

    .menu-icon {
      @media all and (min-width: 577px) {
        display: none;
      }
      span {
        width: 26px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        display: block;
      }
    }
  }

  &-logo {
    width: 100px;
    margin: 0;
    a {
      @extend %item-middle;
    }
  }

  &-menu {
    flex: 1;
    margin-left: 45px;
	transition: transform .23s;
    @media all and (max-width: $screen-xs) {
      //display: none;
      @include position(absolute, 0, 100%, 0, auto);
	  background-color: #1a1a1a;
	  z-index: 999;
	  margin: 0;
	  padding: 25px 15px;
	  border-top: 1px solid #333;
	  transform: translateX(1500px);
    }
    &-list {
      @extend %item-middle;
	  @media all and (max-width: $screen-xs) {
		display: block;
	  }
    }

    &-item {
      .menu-link {
        font-size: $fs-default - 1px;
        color: #c3c4c7;
		&:hover,
		&:focus,
		&.active {
		  color: $cl-main;
		}
      }
      + .header-menu-item {
        margin-left: 30px;
		@media all and (max-width: $screen-xs) {
		  margin: 20px 0 0 0;
		}
      }
    }
  }
}
