@font-face {
  font-family: 'Metric';
  src: url('../font/MetricWeb-Regular.eot');
  src: url('../font/MetricWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/MetricWeb-Regular.woff2') format('woff2'),
  url('../font/MetricWeb-Regular.woff') format('woff'),
  url('../font/MetricWeb-Regular.ttf') format('truetype'),
  url('../font/MetricWeb-Regular.svg#MetricWeb-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.4;
  font-size: $fs-default;
  color: $cl-base;
  transition: transform 300ms ease;
  font-family: "Metric", Arial;
  font-weight: 300;
  background-color: #21201e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @extend %full-height;
  min-height: 100vh;
  * {
    color: $cl-base;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-page {
  flex: 1;
}


.introduce {
  &-box {
    margin: 60px 0 100px 0;
	@media all and (max-width: $screen-xs){
	  margin: 40px 0 60px 0;
	}
  }
  &-main {
    @extend %row;
    flex-wrap: wrap;
    margin: 50px -15px 0 -15px;
	@media all and (max-width: $screen-xs){
	  margin-top: 30px;
	}
  }

  &-item {
    @extend %full-height;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    @media all and (max-width: $screen-sm){
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media all and (max-width: $screen-xs){
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &-images {
    @include images-form(73%);
  }

  &-title {
    @extend %title;
    text-align: center;
    margin: 0 0 45px 0;
    font-size: 24px;
    line-height: 1.2;
	@media all and (max-width: $screen-xs){
	  margin-bottom: 25px;
	}
	
  }

  &-content {
    margin-top: 40px;
    flex: 1;
	@media all and (max-width: $screen-xs){
	  margin-top: 30px;
	}
  }

  &-des {
    margin: 0 0 30px 0;
  }

  &-text {
    margin: 0 0 15px 0;
  }

  &-bottom {
    margin-top: 20px;
  }

  &-price {
    @extend %title;
    margin: 20px 0;
    font-size: 30px;
  }
}

.banner {
  &-box {
    position: relative;
    min-height: 458px;
    @extend %item-middle;
	@media all and (max-width: $screen-xs){
	  min-height: 320px;
	}
    &:before {
      content: '';
      @include position(absolute, 0, 0, 0, 0);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: url("../images/herohob.jpg");
      display: block;
    }

    .banner-main {
      position: relative;
      z-index: 1;
      max-width: 515px;
      min-height: 300px;
      background-color: #000;
      padding: 35px;
      @extend %flex;
      flex-direction: column;
      justify-content: space-between;
	  @media all and (max-width: $screen-xs){
		min-height: 220px;
		padding: 25px;
	  }
      *:not(.btn) {
        color: $cl-main;
      }
    }
  }

  &-title {
    margin: 0 0 25px 0;
    @extend %title;
	@extend %title-lg;
	@media all and (max-width: $screen-xs){
	
	}
  }

  &-text {
    font-size: 20px;
    margin: 0;
    @extend %title;
  }

  &-btn {
    display: inline-flex;
  }
}
