%flex {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

%full-height {
  @extend %flex;
  flex-direction: column;
  flex: 1;
}

%item-middle {
  @extend %flex;
  align-items: center;
}

%item-center {
  @extend %flex;
  align-items: center;
  justify-content: center;
}

%row {
  @extend %flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


@mixin position($position,$left,$top,$right,$bottom){
  position: $position;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
}

@mixin p-top-left($top,$left){
  position: absolute;
  top: $top;
  left: $left;
}

//image khoi
@mixin images-form($height) {
  position: relative;
  overflow: hidden;
  padding: 0;
  &::before {
    content: '';
    display: block;
    padding-top: $height;
  }
  .img-item {
    @include position(absolute, 0, 0, 0, 0);
    @extend %item-center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
