.search {
  &-box {
	@media all and (min-width: $screen-xs){
	  min-height: 300px;
	}
	&:before {
	  background-image: url("../images/banner-search.jpg");
	  background-position: center right;
	}
 
	.search-main {
	  min-height: inherit;
	}
  }
  
  &-result {
	margin: 50px 0;
  }
}

#list-res {
  li {
	position: relative;
	padding-left: 20px;
	margin-top: 15px;
	&:before {
	  content: '';
	  @include p-top-left(10px, 0);
	  width: 7px;
	  height: 7px;
	  background-color: $cl-main;
	}
  }
}

.form-control {
  height: 40px;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #fff;
  margin: 15px 0;
  font-size: $fs-default - 2px;
  border-radius: 5px;
  color: #000 !important;
  &:focus {
	outline: none;
	border-color: $button-bd;
  }
}
