$fs-default: 18px;

$cl-base: #fff;
$cl-main: #dec117;

//button
$button-bd: $cl-main;
$button-bg: $button-bd;
$button-padding-x: 30px;
$button-height: 50px;
$button-height-sm: 34px;

$screen-xs: 576px;
$screen-sm: 768px;
